<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>File Downloader</title>

  </head>

  <body>

    <div class="alert alert-danger" role="alert">

      <p>To download <b>annotations.json</b> on your local machine.</p>

      <p>Click here to download - <a href="/download"><button class='btn btn-default'>Click</button></a>

      </p>

    </div>

  </body>

</html>